<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Juce.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B33D97A81A94BDFF00B359B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B33D97BA1A94D3DF00B359B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B33D97C91A94D3FC00B359B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3CB98B91A94E98A0089AAAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1885CC11A669EF4005CD2BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
